
# Created by https://www.gitignore.io/api/vagrant,apachehadoop
# Edit at https://www.gitignore.io/?templates=vagrant,apachehadoop

### ApacheHadoop ###
*.iml
*.ipr
*.iws
*.orig
*.rej
.idea
.svn
.classpath
.project
.settings
target
hadoop-common-project/hadoop-kms/downloads/
hadoop-hdfs-project/hadoop-hdfs/downloads
hadoop-hdfs-project/hadoop-hdfs-httpfs/downloads
hadoop-common-project/hadoop-common/src/test/resources/contract-test-options.xml
hadoop-tools/hadoop-openstack/src/test/resources/contract-test-options.xml

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

### Vagrant Patch ###
*.box

# End of https://www.gitignore.io/api/vagrant,apachehadoop

*.tar.gz

*.log
